* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 16px 0;
    background-color: #182c61;
    color: #ecf0f1;
}

header,
section h2,
section h3,
form button{
    font-family: 'Bungee', cursive;
    font-weight: normal;
}

body, input, textarea{
    font-family: 'roboto', sans-serif;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands-list img{
    height: 24px;
}

.brands-list li{
    display: inline;
    margin-right: 8px;
}

section .container{
    align-items: flex-start;
}

section{
    padding: 24px 0;
}

section h2{
    margin-bottom: 16px;
}

section{
    color: #182c61;
}

section p{
    margin-bottom: 8px;
}

section .store-front{
    margin-right: 32px;
    border-radius: 10px;
}


.social-links li a{
    text-decoration: none;
}

.social-links img{
    height: 25px;
}

#contact .container{
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea{
    resize: none;
    height: 180px;
}

form button{
    background-color: #182c61;
    color:#ecf0f1;
    border: none;
    cursor: pointer;
}

form button:hover{
    background-color: #39508f;
}

input:focus, textarea:focus{
    outline-color: #182c61;
}

footer{
    background-color: #182c61;
    color: #ecf0f1;
    padding: 16px 0;
}

.social-links {
    display: flex; /* Ativa o flexbox */
    flex-direction: row; /* Garante que os itens fiquem lado a lado */
    align-items: center; /* Centraliza os itens verticalmente */
    justify-content: center; /* Centraliza os itens horizontalmente dentro do contêiner */
    gap: 16px; /* Define o espaçamento entre os ícones */
    margin: 0; /* Remove margens extras */
    padding: 0; /* Remove padding extra */
    list-style: none; /* Remove os marcadores de lista */
}

.social-links li {
    display: inline-block; /* Garante que os itens se comportem adequadamente */
}